<!DOCTYPE html>
<html ng-app="tweetbucks">
<head>
    <title>TweetBucks</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">    
    <link rel="stylesheet" href="assets/css/AdminLTE.min.css">
    <link rel="stylesheet" href="assets/css/_all-skins.min.css">
    <link rel="stylesheet" href="assets/css/adjustments.css">
</head>
<body class="skin-blue">
    <div class="wrapper" ng-controller="TwitterController">
        <div id="login-box" class="login-box" ng-hide="connectedTwitter">
            <div class="login-logo">
                <a><b>Tweet</b>Bucks</a>
            </div>
            <div class="login-box-body">
                <a ng-click="connectButton()" class="btn btn-block btn-social btn-twitter ">
                    <i class="fa fa-twitter"></i> Connect with Twitter
                </a>
            </div>
        </div>
        <div id="ledger" class="ledger-container" ng-show="connectedTwitter">
            <div class="main-header">
                <nav class="navbar navbar-static-top">
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="user user-menu">
                                    <a class="">
                                        <img class="user-image" ng-src="{{ user.avatar }}" class="img-circle">
                                        <span class="hidden-xs">@{{ user.alias }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="signOut()" id="signOut" type="button" >Log out</a>                                                    
                                </li>
                            </ul>
                        </div>
                </nav>
            </div>
            <div class="content-wrapper">
                <section class="content-header"><h1>Transactions</h1></section>                
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th>ID</th>
                                            <th>Sender</th>
                                            <th>Receiver</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                        </tr>
                                        <tr ng-repeat="t in tweets">
                                            <td>{{t.id}}</td>
                                            <td>
                                                <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
                                                <small>@{{t.user.screen_name}}</small>                                                
                                            </td>
                                            <td>{{ extractData(t.text, 'receiver') }}</td>
                                            <td>{{ extractData(t.text, 'amount') }}</td>
                                            <td>{{ t.created_at | date : 'shortDate' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>                    
                </section>
            </div>

            
        </div>
    </div>

    <!--
    <div class="container" ng-controller="TwitterController">
        <h1>TweetBucks</h1>
        <div class="row">
            <div class="col-xs-6">
                <button ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">Connect Twitter</button>
                <button ng-click="signOut()" id="signOut" type="button" class="btn btn-link" style="display:none;">Sign Out</button>
            </div>
            <div class="col-xs-6" ng-show="user != null ">
               <img ng-src="{{ user.avatar }}" class="img-circle">
               <label><small>@{{ user.alias }}</small></label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3>Transactions</h3>

            </div>
            <div class="col-xs-12" id="results">
                <div class="row" ng-repeat="t in tweets">

                    <div class="col-xs-2 col-sm-1">
                        <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
                    </div>
                    <div class="col-xs-10 col-sm-11">
                        <small>{{t.user.name}}</small>
                        <br> <span ng-bind-html="t.text"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    -->


    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/oauth-js/dist/oauth.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="src/app.js"></script>
    <script src="src/twitter/twitterService.js"></script>
    <script src="src/twitter/twitterController.js"></script>

</body>
</html>